button {
    width: 7em;
    padding: 1em;
    border-radius: 10em;
    border: 1px solid #1d1b1b;
    cursor: pointer;
    &:hover {
        transition: all 0.3s ease-in-out ;
        transform: scale(1.5);
        background-color: aquamarine;

    }
}