<!-- generic-table.component.html -->
<table>
  <thead>
    <tr>
      <th *ngFor="let column of columns">{{ column }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data">
      <td *ngFor="let column of columns" [ngClass]="{'residents-column': column === 'residents'}">
        <ng-container *ngIf="column === 'residents'; else defaultContent">
          <!-- Custom content for residents column -->
          <ng-container *ngFor="let resident of row[column]">{{ resident }}<br></ng-container>
        </ng-container>
        <ng-template #defaultContent>
          <ng-container *ngIf="column === 'created'; else defaultView">
            <!-- Applying DatePipe to format the date -->
            {{ row[column] | dateFormat }}
          </ng-container>
          <ng-template #defaultView>
            {{ row[column] }}
          </ng-template>
        </ng-template>
      </td>
    </tr>
  </tbody>
</table>
